body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
}
/*
 * MAIN
 */
#container {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
/*
 * SEAWALL
 * a large 3 section gradient
 */
#seaWall {
	position: absolute;
	z-index: -100;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#seaWall #seaWallGradient {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 400%;
	background: #4ba2d1; /* Old browsers */
	background: -moz-linear-gradient(top,  #4ba2d1 0%, #2989d8 22%, #252fc4 28%, #162d89 47%, #0c072d 53%, #000000 72%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ba2d1), color-stop(22%,#2989d8), color-stop(28%,#252fc4), color-stop(47%,#162d89), color-stop(53%,#0c072d), color-stop(72%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4ba2d1 0%,#2989d8 22%,#252fc4 28%,#162d89 47%,#0c072d 53%,#000000 72%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4ba2d1 0%,#2989d8 22%,#252fc4 28%,#162d89 47%,#0c072d 53%,#000000 72%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4ba2d1 0%,#2989d8 22%,#252fc4 28%,#162d89 47%,#0c072d 53%,#000000 72%); /* IE10+ */
	background: linear-gradient(to bottom,  #4ba2d1 0%,#2989d8 22%,#252fc4 28%,#162d89 47%,#0c072d 53%,#000000 72%); /* W3C */
}
/*
 * LOADING SCREEN
 */
#loadingScreen {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 1;
	top: 0px;
	left: 0px;
	z-index: 10000;
	background-color: #4ba2d1;
}
#loadingScreen #title {
	width: 100%;
	height: 100px;
	position: absolute;
	top: 20%;
	left: 0px;
	margin-top: -50px;
	font-size: 72px;
	font-family: sans-serif;
	color: white;
	text-align: center;
}
#loadingScreen #loadingBar {
	width: 500px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -25px;
	border: #ffffff solid 1px;
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	border-radius: 5px; /* CSS3 */
	overflow: hidden;
}
#loadingScreen #loadedArea {
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: blue;
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	border-radius: 5px; /* CSS3 */
}
#loadingScreen #startButton{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding-top: 10px;
	font-size: 24px;
	font-family: sans-serif;
	color: white;
	text-align: center;
	cursor: pointer;
}
